.App {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100vh;
}

.messages-view {
  overflow-y: auto;
  background-color: #26343f;
}

.send-messages-box {
  background-color: #26343f; 
}

.submit-button {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 7px;
  margin-bottom: 7px;
}

.text-box {
  margin-top: 20px;
  display: flex;
  margin-left: 20px;
  width: 92%;
}
